

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
  text-align: center;
 
  
}
.titulomodal{
  margin-bottom: 50px;
  font-size: 25px;
}
.ahome{ color: inherit; /* Define a cor do texto para ser a mesma do pai */
  text-decoration: none;}
  .ahome:hover{
    color: #ffffff;
    text-decoration: none;
  }
a{text-align: none;}
.ph{
  height: 95px;
  border-bottom: solid 1px #201a33;
 
}
.pE{
  height: 80px;
  border-bottom: solid 1px #111022;
}
.principal{
    display: flex;
  
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('img/peakpx\ \(1\).jpg');
  

    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
   
    background-repeat: no-repeat; 
    justify-content: center;
margin-top: -49px;
    color: rgb(255, 255, 255);
   height: 599px;
   text-align: center;
   font-size: 30px;
   align-items: center;
 
   
   }
   .principal h1{
    font-size: 55px;
    margin-bottom: 20px;
   }
   .principal p{
    font-size: 25px;
    margin-bottom: 34px;
   }

   .rodape {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    height: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/peakpx\ \(1\).jpg');
  
height: 60px;
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
   
    background-repeat: no-repeat; 
    justify-content: center;
    bottom: 0;
    width: 100%;
}
   .nav{
    background-color: transparent;
    height: 49px;
    align-items: center;
  
   } 
   .nav a{
    color: rgb(255, 255, 255);

   }
   .principal button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #ffffff; /* Cor da borda */
    color: #ffffff; /* Cor do texto */
    padding: 10px 20px; 
   cursor: pointer;
    font-size: large;
    transition: transform 0.3s ease;
    }


  
    .principal button:hover {
      transform: scale(1.1);
  }
   #projetos{
  
    gap: 20px;


    display: grid;

    grid-template-columns: repeat(3, 400px);
   
justify-content: center
 ;padding: 20px;
align-items: center;
    height: 700px;
    margin-bottom: 10px;

   background-color: #F1F3F4;

    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
   
    background-repeat: no-repeat; 
overflow: hidden;
}

.item{
    flex: 0 0 410px; /* Define o tamanho fixo das divs */
    height:  260px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    box-shadow:  6px 9px 12px rgba(0, 0, 9, 0.2);
    margin-right: 10px; 
    
    border:  0.1px;
  cursor: pointer;

  background-color: white;

    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
   
    background-repeat: no-repeat; 
    justify-content: center;
    

    transition: transform 0.3s ease;
  }
  #item1 {
    background-image: url('gif/publiamendoim.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
    flex: 0 0 400px; /* Define o tamanho fixo das divs */
    background-repeat: no-repeat; 
    justify-content: center;
    
}

#item2 {
  background-image: url('gif/landingpage.jpg');
  background-size: contain; /* Ajusta o tamanho da imagem para cobrir toda a div */
  background-position: center; /* Centraliza a imagem na div */
  flex: 0 0 400px; /* Define o tamanho fixo das divs */
  background-repeat: no-repeat; 
  justify-content: center;
  
}

#item3 {
  background-image: url('gif/barra\ de\ proteina\(fundo\ meia\ meio\).jpg');
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
  background-position: center; /* Centraliza a imagem na div */
  flex: 0 0 400px; /* Define o tamanho fixo das divs */
  background-repeat: no-repeat; 
  justify-content: center;
}
#item4 {
  background-image: url('');
}
#item5 {
  background-image: url('');
}
#item6 {
  background-image: url('');
}
.h1projetos{margin-bottom: 40px;}
.h1habilidades{margin-bottom: 30px;}
  .item:hover {
    transform: scale(1.1);
}.btn{
  height: 50px;
  width: 160px;
  
  margin-top:170px;
 margin-right: 10px;
  border-radius: 10px;
  background-color: #0000008a;
  border: 1px solid #00000007; /* Cor da borda */
  color: #fffcfc; /* Cor do texto */
  padding: 10px 20px; 
 cursor: pointer;
  font-size: large;
  transition: transform 0.3s ease;
}
 .btn:hover{
  background-color: #000000;
  color: white;
 }
#educaçao{
    padding: 60px;

    text-align: start;
}
#educaçao h1,h2{
    margin-bottom: 20px;
}
#educaçao h3{
margin-bottom: 30px;
font-weight: lighter;
}
   #sobre{
  padding: 60px;

  text-align: start; 
 
  font-size: larger;
  color:  rgb(0, 0, 0);

  margin-bottom: 20px;
   }

   #sobre p{
 
  color: rgb(0, 0, 0);
  }
  
   ul{
    background-color: rgb(255, 255, 255);
   }
   #sobre h1{
    margin-bottom: 26px;
    color: rgb(0, 0, 0);
   }




   .scroll-button {
    position: absolute;
    display: none;
    bottom: -750px; /* Ajuste a distância do fundo conforme necessário */
    width:60px;
    border-radius: 100%;
    align-items: center;
    height: 60px;text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
   
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Garante que os botões fiquem acima do conteúdo */
}



.scroll-button.left {
    left: 0;
    display: none;
    
}
.scroll-button.right {
    right: 0;
    display: none;
}




#habilidades {
 justify-content: center;
 padding: 26px;

 margin-bottom: 40px;

    display: grid;
    gap: 60px;
    grid-template-columns: repeat(5, 150px);
   

  
  }

  .img-thumbnail {
width: 100px;
border: none;
cursor: pointer;
height: 100px;
transition: transform 0.3s ease;
  }

  .img-thumbnail:hover {
    transform: scale(1.1);
}
  /* Definição de altura para cada linha */
  
  .container {
    grid-auto-rows: 100px; /* Altura das linhas */
  }









/*tablet*/
  @media only screen and (min-width: 600px) and (max-width: 1023px) {

    .modal {
      display: none;
      position: fixed;
      z-index: 999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
  }
  .imgcontato{  
    border-radius: 10px;
    height: 270px;
    width: 295px;
 }
 
  
  .modal-content {
      background-color: #ffffff;
  display: flex;
  border-radius: 8px;
  padding: 20px;
  border: none;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  flex-direction: column;
      padding: 20px;
      position: fixed; /* Torna a div fixa */
      top: 50%; /* Ajusta a posição verticalmente para o meio da tela */
      left: 50%; /* Ajusta a posição horizontalmente para o meio da tela */
      transform: translate(-50%, -50%); 
      width: 95%;
      height: 97%;
      overflow: hidden;
     
  }
  .label{
    font-size: 20px;
  }
  .imgmodal{
    height: 330px;
   width: 100%;
    border-radius: 5px;margin-bottom: 30px;
   
   
  
    background-size: contain; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
   
    background-repeat: no-repeat; 
   
  }
  .close {
      color: #000000;
      float: right;
      position: fixed; /* Torna a div fixa */
      top:3%; /* Ajusta a posição verticalmente para o meio da tela */
      left: 96%; /* Ajusta a posição horizontalmente para o meio da tela */
      transform: translate(-50%, -50%); 
      font-size: 28px;
      font-weight: bold;
     
  }
  
  .close:hover,
  .close:focus {
      color: rgb(0, 0, 0);
      text-decoration: none;
      cursor: pointer;
  }
  
    nav {
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
    } 
  

    .principal h1{
      font-size: 38px;
      margin-top: 15px;
      margin-bottom: 20px;
     }
     .principal p{
      font-size: 17px;
      margin-bottom: 34px;
     }
     .nav a{
      color: rgb(255, 255, 255);
      font-size: 14px;
   
     }
     .principal{
      height:681px;
     }
   
     #projetos{
      /*
        gap: 20px;
        background: #ffffff;
        width: 100%;
       overflow-y: auto;padding: 20px;
      align-items: center;
        height: 350px;
        margin-bottom: 10px;
      
        display: flex;
      overflow: auto;*/
       display: grid;
       align-items: center;
       justify-content: center;
        grid-template-columns: repeat(1, 1fr); /* 3 colunas com largura igual */
        grid-auto-rows: 1fr; /* Altura automática das linhas */
        gap: 15px; 
        overflow: hidden;
        height: 1800px;
      
      }
      
            
            .item{
              background-color: #ffffff;
        width: 100%;
        margin-left: 3px;
            }
            
 
    form{
      background-color: #ffffff;
          border-radius: 12px;
        
           box-shadow:  6px 9px 12px rgba(0, 0, 9, 0.2);
          padding: 20px;
          gap: 18px;height: 410px;
          display: flex;
          flex-direction: column;
          margin-bottom: 40px;
       
       
      }
      form input{
          height: 50px;
          width: 430px;
          outline: 0; 
          background-color: rgb(217, 233, 247);
          margin-bottom: 10px;
          border:  none;
          border-radius: 5px;
          padding: 10px;
      }
      form textarea{
          border: none;
          width: 430px;
          align-items: center;
          border-radius: 5px;background-color: rgb(217, 233, 247);
          resize: none;
         height: 70px;
          outline: 0;
          margin-bottom: 15px;
      
      }
      form button{
          height: 55px;
          width: 430px;
          color: white;
          outline: 0; background-color:  rgb(44, 97, 243);
          margin-bottom: 10px;
          border:  none;
          cursor: pointer;
          border-radius: 5px;
          padding: 10px;
         
      }
      
      
      
      .email{ display: flex;
        align-items: center;
       flex-direction: column;
        justify-content: center;
        padding: 20px;
        
        gap: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;}
    
      .contacts{

        text-align: start;
        font-size: large;
        margin-top: -40px;
       
      }
      .imagemcontato{
        display: none;
        background:  url('img/estrela.gif') no-repeat;
        background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
        background-position: center; /* Centraliza a imagem na div */
       
        background-repeat: no-repeat; 
        height: 260px;
        border-radius: 10px;
      }     
    
      
      .img-thumbnail {
        width: 90px;
        border: none;
        margin: 4px;
        height: 90px;
          }
          #habilidades{
            justify-content: center;
            padding: 26px;
           
            margin-bottom: 40px;
           
               display: grid;
               gap: 13px;
               grid-template-columns: repeat(5, 100px);
              
           
          }
       

}

/* Estilos para PCs */
@media only screen and (min-width: 1024px) {
  .h2p{
    margin-bottom:60px;
  }
.h1projetos{margin-bottom: 20px; color: #000000;}
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffffff;
display: flex;
border-radius: 8px;
padding: 20px;
border: none;
align-items: center;
justify-content: center;
overflow-y: auto;
flex-direction: column;
    padding: 20px;
    position: fixed; /* Torna a div fixa */
    top: 50%; /* Ajusta a posição verticalmente para o meio da tela */
    left: 50%; /* Ajusta a posição horizontalmente para o meio da tela */
    transform: translate(-50%, -50%); 
    width:80%;
    height: 98%;
    border-radius: 15px;
    overflow: hidden;
   
}
.label{
  font-size: 20px;
}
.imgmodal{
  height:440px;
  margin-top: -34px;

  border-radius: 10px;margin-bottom: 30px;
  width: 100%;


  background-size: contain ; /* Ajusta o tamanho da imagem para cobrir toda a div */
  background-position: center; /* Centraliza a imagem na div */
 
  background-repeat: no-repeat; 
  background-image: url('img/peakpx\ \(1\).jpg');
 
}


.close {
    color: #000000;
    float: right;
    position: fixed; /* Torna a div fixa */
    top:3%; /* Ajusta a posição verticalmente para o meio da tela */
    left: 97.4%; /* Ajusta a posição horizontalmente para o meio da tela */
    transform: translate(-50%, -50%); 
    font-size: 28px;
    font-weight: bold;
   
}

.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}




  .btn{       height: 50px;
    width: 160px;
    margin-top:170px;
   margin-right: 10px;
    border-radius: 10px;
    background-color: #0000008a;
    border: none;
    color: #fff8f8; /* Cor do texto */
    padding: 10px 20px; 
   cursor: pointer;
    font-size: large;
    transition: transform 0.3s ease;
  }
  .email{ display: flex;
    align-items: center;
      flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 36px;
background-color: #ffffff;
margin-bottom: 20px;}

  .contacts{
    text-align: start;
    font-size: 20px;
    margin-top: -30px;
 
   
  }
  .imagemcontato{
    background:  url('img/estrela.gif') no-repeat;
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
   
    background-repeat: no-repeat; 
   
 
  }
  .imgcontato{  
     border-radius: 10px;
     height: 270px;
     width: 260px;
  }
  

}






/*celular*/
   @media only screen and (max-width: 599px)
   

  
   {
    .imgcontato{  
     display: none;
   }
   
  
    #item1 {
      background-image: url('gif/publiamendoim.jpg');
      background-size: contain; /* Ajusta o tamanho da imagem para cobrir toda a div */
      background-position: center; /* Centraliza a imagem na div */
      flex: 0 0 400px; /* Define o tamanho fixo das divs */
      background-repeat: no-repeat; 
      justify-content: center;
      
  }
  
  #item2 {
    background-image: url('gif/landingpage.jpg');
    background-size: contain; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
    flex: 0 0 400px; /* Define o tamanho fixo das divs */
    background-repeat: no-repeat; 
    justify-content: center;
    
  }
  
  #item3 {
    background-image: url('gif/barra\ de\ proteina\(fundo\ meia\ meio\).jpg');
    background-size: contain; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
    flex: 0 0 400px; /* Define o tamanho fixo das divs */
    background-repeat: no-repeat; 
    justify-content: center;
  }
  #item4 {
    background-image: url('');
  }
  #item5 {
    background-image: url('');
  }
  #item6 {
    background-image: url('');
  }
     .hb{
      display: none;
     }
     .btn{    height: 50px;
      width: 160px;
      margin-top:170px;
     margin-right: 10px;
      border-radius: 10px;
      background-color: #0000008a;
      border: none;
      color: #fff8f8; /* Cor do texto */
      padding: 10px 20px; 
     cursor: pointer;
      font-size: large;
      transition: transform 0.3s ease;}
    .modal {
      display: none;
      position: fixed;
      z-index: 999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
      background-color: #ffffff;
  display: flex;
  border-radius: 8px;
  padding: 20px;
  border: none;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  flex-direction: column;
      padding: 20px;
      position: fixed; /* Torna a div fixa */
      top: 50%; /* Ajusta a posição verticalmente para o meio da tela */
      left: 50%; /* Ajusta a posição horizontalmente para o meio da tela */
      transform: translate(-50%, -50%); 
      width: 95%;
      height: 97%;
      overflow: hidden;
     
  }
  .label{
    font-size: 20px;
  }
  .imgmodal{
    height: 240px;
    border-radius: 5px;margin-bottom: 30px;
    width:320px;
   
  
    background-size: contain; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
   
    background-repeat: no-repeat; 
    background-image: url('img/peakpx\ \(1\).jpg');
  }
  .close {
      color: #000000;
      float: right;
      position: fixed; /* Torna a div fixa */
      top:3%; /* Ajusta a posição verticalmente para o meio da tela */
      left: 94%; /* Ajusta a posição horizontalmente para o meio da tela */
      transform: translate(-50%, -50%); 
      font-size: 28px;
      font-weight: bold;
     
  }
  
  .close:hover,
  .close:focus {
      color: rgb(0, 0, 0);
      text-decoration: none;
      cursor: pointer;
  }
  
  
    h1{
      font-size: 25px;
    }
    .ph{
      height: 130px;
      border-bottom: solid 0.9px #ffffff;
     
    }
    .pE{
      height: 95px;
      border-bottom: solid 0.9px #000000;
    }
    #sobre{
      padding: 20px;
      margin-bottom: 30px;
      font-size: xx-small;
      background: linear-gradient(to top, #000000,#000000, #090B14);
      font-size: larger;
       }
       #sobre p{
          font-size: small;
          color: white;
       }
       #sobre h1{
        color: white;
          font-size: larger;
       }

#educaçao{
  padding: 20px;
  font-size: xx-small;
    background-color: rgb(255, 255, 255);
  font-size: larger;
}
#educaçao p{
  font-size: small;
}
#educaçao h1{
  font-size: larger;
}
#educaçao h2,h3{
  font-size: medium;
}

#projetos{

 display: grid;
 align-items: center;
 justify-content: center;
  grid-template-columns: repeat(1, 1fr); /* 3 colunas com largura igual */
  grid-auto-rows: 1fr; /* Altura automática das linhas */
  gap: 15px; 
  overflow: hidden;
  height: 1800px;

}

      
      .item{
        background-color: #ffffff;
  width: 100%;
  margin-left: 3px;
      }
      .scroll-button{
    
      }

      .principal h1{
        font-size: 36px;
        margin-bottom: 20px;
       }
       .principal p{
        font-size: 17px;
        margin-bottom: 39px;
       }
       .nav a{
        color: rgb(255, 255, 255);
        font-size: 11px;
     
       }
       .principal{
        height:690px;
       }
       .img-thumbnail {
        width: 90px;
        border: none;
        margin: 4px;
        height: 90px;
          }
          #habilidades{
            justify-content: center;
            padding: 26px;
           
            margin-bottom: 40px;
           
               display: grid;
               gap: 10px;
               grid-template-columns: repeat(3, 100px);
              
           
          }
       

          
       
        
      
  .email{ display: flex;
    align-items: center;
   flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    margin-top: 35px;
background-color: #ffffff;
margin-bottom: 30px;}

  .contacts{
    text-align: start;
    font-size: large;
    margin-top: -30px;
   
  }
  .imagemcontato{
    background:  url('img/estrela.gif') no-repeat;
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
   
    background-repeat: no-repeat; 
    height: 260px;
    border-radius: 10px;
  }
  form{

background-color: #ffffff;
    border-radius: 12px;
     
    width: 320px;

    padding: 20px;
    gap: 18px;height: 410px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
 
 
}

form input{
    height: 50px;
    width:280px;
    outline: 0; 
    background-color: rgb(217, 233, 247);
    margin-bottom: 10px;
    border:  none;
    border-radius: 5px;
    padding: 10px;
}
form textarea{
    border: none;
    width:280px;
    align-items: center;
    border-radius: 5px;background-color: rgb(217, 233, 247);
    resize: none;
   height: 70px;
    outline: 0;
    margin-bottom: 15px;

}
form button{
    height: 55px;
    width:280px;
    color: white;
    outline: 0; background-color:  rgb(44, 97, 243);
    margin-bottom: 10px;
    border:  none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    box-shadow:  6px 9px 15px rgba(0, 0, 9, 0.171);
   
}
.rodape {
height: 60px;
margin-top: -0px;
}
.rodape p{
  color: #ffffff;

font-size:  small;
  }
  
  

   }
     
